                                        /*ABOUT US*/ 
 @import '../base/variables';

.aboutus{
    width: 100%;
    background-image:$fondocolores;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
                                            /*IMAGEN SIMO */
#SobreNosotros .simonaprincess {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    border-style: solid;
    height: 100%;
    transition: all 2.5s;
}
.simonaprincess:hover{
    transform: scale(0.8);
}


