                                        /*ABOUT US*/ 
 @import '../base/variables';

.aboutus{
    width: 100%;
    background-image:$fondocolores;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
                                            /*IMAGEN SIMO */
#SobreNosotros .simonaprincess {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    // border-style: solid;
    padding-bottom: 45px;
    height: 70%;
    transition: all 2.5s;
}
.simonaprincess:hover{
    transform: scale(0.8);
}

#SobreNosotros .parrafo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    flex-direction: row;
    height: auto;
    // width: auto;
    line-height:30px;
    color: black;
    // border: 3px solid white;
    // border-radius: 20px;
}
