                                        /*CONTACT US*/ 
form{
    /* background-color: rgb(255, 140, 98); */
    /* background-color: #f4f1bb; */
    background-color: #f5cf9e;
    height: auto;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"] {
    width: 60%;
    border-radius: 3px;
    font-size: 14px;
    padding: 7px;
    border: 3px solid #d6d9dc;

}
.formulario input[type="text"]:invalid,
.formulario input[type="email"]:invalid,
.formulario input[type="tel"]:invalid{
    border: 2px solid red;
}
.formulario textarea{
    resize: none;
    min-height: 100px;
    width: 60%;
    border-radius: 3px;
    font-size: 14px;
    padding: 7px;
    border: 3px solid #d6d9dc;
}
/* .formulario legend{
    text-decoration: wavy;
} */

.boton{
    display: flex;
    justify-content: end;
    align-items: end;
    align-content: end;
}